<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Car4S.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D257FEA1CF427380014FCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D2580031CF427390014FCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D25800E1CF427390014FCDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
